/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 20vw;
  margin-right: 10px;
  color: #bb021e;
}

html,
body {
  margin: 0:
  padding: 0;
  width: 100%;
  min-width: 320px;
}

body {
  margin: 1vh 0 1vh 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center; /* align horizontal */
  align-items: center;
  width: 100%;
  height: 50px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #d3d3d3;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

header img#logo {
  margin: 0;
  padding: 0;
  justify-content: center; /* align horizontal */
  align-items: center;
  text-align: center;
  width: 50px;
  max-width: 50px;
  height: auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

header.smaller {
  height: 30px;
  opacity: 0.7;
}

header.smaller img#logo {
  width: 30px;
  height: auto;
  padding-right: 20px;
}

hero {
  width: 100%;
  height: auto;
  background: url(../images/camera-big.jpeg) no-repeat center center;
  background-image: -moz-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0)),url('../images/camera-big.jpeg');
  background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0)), url('../images/camera-big.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

/*
 *
 * main
 *
 */


location {
  font-weight: bold;
}

article {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  text-align: center;
  flex-direction: column;
  max-width: 50em;
  font-size: 1em;
  line-height: 1.6em;
  border-bottom: 1px solid #ddd;
}

.title {
  text-align: center;
}

.title h1 {
  margin: 1em 0 0.5em 0;
  color: #fff;
  border-bottom: none;
  font-size: 9em;
}
.title h2 {
  border-bottom: none;
  font-weight: bold;
  color: #fff;
}

.lead {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 60px;
}

.poster-entry {
  padding: 2em 0 2em 0;
}

.description {
  font-size: 16px;
}

h1 {
  color: #444;
  font-weight: bold;
  font-size: 6vw;
  border-bottom: 1px solid #ddd;
  margin: 0 0 0 0;
}

header:hover h1 {
  color: #3d85c6;
}

h2 {
  border-bottom: 1px solid #ddd;
  color: #bb021e;
  font-size: 5vw;
  margin: 0.5em 0 1em 0;
  padding: 0.5em 0 1em 0;
}

h4 {
  color: #444;
}

picture#banner img {
  -webkit-filter: saturate(3) opacity(0.7);
  margin: 0 0 2em 0;
  max-width: 100vw;
  width: 100vw;
}



section#poster {
  max-width: 50em;
  width: 90vw;
}

p {
  color: #444;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6em;
  margin: 0 auto 1em auto;
  text-align: justify;
}

a {
  color: #3d85c6;
  text-decoration: none;
}

p.borderBelow {
  /*border-bottom: 1px solid #eee;*/
  padding: 0 0 1em 0;
}

section p:last-of-type {
  margin: 0;
}

section {
  /*border-bottom: 1px solid #eee;*/
  margin: 0 0 3vh 0;
}

section:last-of-type {
  /*border-bottom: 1px solid #ccc;*/
  margin: 0 0 2em 0;
  padding: 0 0 2em 0;
}

figcaption {
  color: #bb021e;
  padding: 2em 0;
  text-align: center;
}

figure {
  margin: 1em 0 1em 0;
}

#headerSocial {
  display: none;
}

#headerSocial ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#headerSocial li {
  display: inline;
  margin: 0 10px;
  padding: 0 5px;
}

footer {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 0 0 20px 20px;
  max-width: 50em;
}

#footerSocial {
  line-height: 2em;
}

#footerSocial ul {
  list-style: none;
  text-align: center;
}

#footerSocial li {
  display: inline;
  padding: 0 40px;
}

#credentials {
  text-align: center;
  color: #9c9c9c;
  font-size: 0.9em;
}

@media only screen and (min-width: 601px) and (max-width:800px) {
    hero {
      background-image: url("../images/camera-medium.jpeg")
    }
}

@media only screen and (max-width:601px) {
  hero {
    background-image: url("../images/camera-small.jpeg");
  }
  .title h1 {
    font-size: 5em;
  }
  .title h2 {
    font-size: 2em;
  }
  h2 {
    font-size: 10vw;
  }
  #footerSocial li {
    display: block;
    padding: 20px 0;
  }
}

/* ============================================================
  PULSE
============================================================ */
.cmn-t-pulse {
  padding: 20px 40px;
  /*color: #fff;*/
  /*background-color: #ff3296;*/
  -webkit-animation: pulse 1s ease infinite;
  -moz-animation: pulse 1s ease infinite;
  -ms-animation: pulse 1s ease infinite;
  -o-animation: pulse 1s ease infinite;
  animation: pulse 1s ease infinite;
}
.cmn-t-pulse:hover {
  /*color: #fff;*/
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }

  25% {
    -moz-transform: scale(1.1);
  }

  50% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(1);
  }

  25% {
    -ms-transform: scale(1.1);
  }

  50% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(1);
  }
}

@-o-keyframes pulse {
  0% {
    -o-transform: scale(1);
  }

  25% {
    -o-transform: scale(1.1);
  }

  50% {
    -o-transform: scale(1);
  }

  100% {
    -o-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
